* {
  box-sizing: border-box;
}

body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 30px;
	text-align: left;
	width: 550px;
	font-size: 25px;
}

header	{
	float: left;
	background-color: #333;
	border-bottom: none;
	color: #ffffff;
	height: 100%;
	width: 270px;
	margin-left: 125px;
	margin-bottom: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 15px;
}

section	{
	background-color: #ffe750;
	float: left;
	color: #f1f1f1;
	border: 0px solid #000bff;
	width: 525px;
	height: 300px;
}

input{
	width: 100%;
	padding: 10px 10px;
    margin: 8px 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
    font-size: 20px;
}

footer {
	clear: both;
	vertical-align: middle;
	padding: 18px;
	height: 70px;
	background-color: #0e99e6;
	width: 525px;
	border-bottom: none;
}

.main{
	position: fixed;
	background: rgba(0,0,0,0.1);
	color: #f1f1f1;
	width: 525px;
	height: 300px;
	padding: 30px;
}

.header-container {
	border-bottom: 0px solid #cccccc;
	background-color: #0e99e6;
	width: 525px;
	height: 70px;
}

.button{
	color: #fff;
	background-color: #333;
	font-size: 30px;
	padding: 5px 47.5px;
}

.result{
	background-color: #333;
	text-align: center;
	font-size: 30px;
	border: 2px solid #000000;
	height: 50px;
}